{% extends 'flatpages/default.html' %}
{% load news_filters %}
{% load news_tags %}

{% block title %}
    Все записи {% if postlist %}(всего {{ postlist|length }}){% endif %}
{% endblock title %}

{% block content %}

    {% if postlist %}
        {% for post in postlist %}
            {{ post.create_ts|date:'d.m.y H:i:s' }}<br>
            <b>{{ post.title|censor }}</b><br>
            {{ post.content|censor|truncatewords:20 }}
            <hr>
        {% endfor %}
    {% else %}
        Записей пока нет :-(
    {% endif %}

    {% if page_obj.paginator.num_pages > 1 %}
        {% if page_obj.has_previous %}
            <a href="?{% url_replace page=1 %}">1</a>
            {% if page_obj.previous_page_number != 1 %}
                {% pagination_dots_left %}
                <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
            {% endif %}
        {% endif %}

        {{ page_obj.number }}

        {% if page_obj.has_next %}
            <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
            {% if paginator.num_pages != page_obj.next_page_number %}
                {% pagination_dots_right %}
                <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
            {% endif %}
        {% endif %}
    {% endif %}

{% endblock content %}
