{% extends 'flatpages/default.html' %}
{% load news_filters %}
{% load news_tags %}

{% block title %}
    {% if category %}
        Категория {{ category }}
    {% elif category == '' %}
        Все записи
    {% else %}
        Неизвестная категория
    {% endif %}
    {% if postlist %}(всего {{ postlist|length }}){% endif %}
{% endblock title %}

{% block links %}
    {% if show_became_author %}
        <li class="nav-item"><a class="nav-link" href="/became_author">Стать автором</a></li>
    {% endif %}
    {% if is_author %}
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown"
               aria-expanded="false">Написать</a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="/news/create">Новость</a></li>
                <li><a class="dropdown-item" href="/articles/create">Статью</a></li>
            </ul>
        </li>
    {% endif %}
    {{ block.super }}
{% endblock links %}

{% block content %}

    <table style="width: 100%">
        <tr>
            <td style="width: 70%">
                <form action="" method="get">
                    {{ filterset.form.as_p }}
                    <input type="submit" value="Поиск"/>
                </form>
            </td>
            <td style="width: 30%">
                {% if categories %}
                    {% for cat in categories %}
                        {% if cat == category %}
                            <a href="/news/categories/{{ cat.id }}"><b>{{ cat }}</b></a>
                            <br>
                        {% else %}
                            <a href="/news/categories/{{ cat.id }}">{{ cat }}</a>
                            <br>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </td>
        </tr>
    </table>
    <hr>

    {% if postlist %}
        {% for post in postlist %}
            {{ post.author }} {{ post.create_ts|date:'d.m.y H:i:s' }}<br>
            <a href="/news/{{ post.id }}"><b>{{ post.title|censor }}</b></a><br>
            {{ post.content|censor|truncatewords:20 }}
            <hr>
        {% endfor %}
    {% else %}
        Записей пока нет :-(
    {% endif %}

    {% if page_obj.paginator.num_pages > 1 %}
        {% if page_obj.has_previous %}
            <a href="?{% url_replace page=1 %}">1</a>
            {% if page_obj.previous_page_number != 1 %}
                {% pagination_dots_left %}
                <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
            {% endif %}
        {% endif %}

        {{ page_obj.number }}

        {% if page_obj.has_next %}
            <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
            {% if paginator.num_pages != page_obj.next_page_number %}
                {% pagination_dots_right %}
                <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
            {% endif %}
        {% endif %}
    {% endif %}

{% endblock content %}
